// Place for temp fixes

.footer {
    justify-content: center !important;
}

th, td {
    vertical-align: top !important;
    text-align: center !important;
}

.form-control {
    width: auto !important;
}